<div class="container">
  <div class="row">
    <div class="col-xs-12 " style="  font-size: 15px">
      <ol>
        <li>A form with the following inputs and validators</li>
        <li>1. Mail Address (Should not be empty and should be valid email)</li>
        <li>2. A dropdown which allow user to select from three different subscription ("Basic", "Advanced","Pro")</li>
        <li>3. A password field should not be empty</li>
        <li>4. A submit button </li>
        <li>Display a message if form is invalid and touched. display a warning message below each input if it's invalid</li>
        <li>Upon submitting  the form, you should simply print the value of the form.</li>
      </ol>
    </div>
  </div>



  <app-userform></app-userform>


</div>